# 99-by-label-fix.rules
# Add symlinks of the form label.N to /dev/disk/by-label, where N=1 for the first
# attached partition with a filesystem label, N=2 for the scond partition attached
# having the same filesystem label as the N=1 partition, etc.
# 
# Author: Josh Fisher < jfisher at jaybus dot com >
# Based on a combination of 50-udev.rules from Centos 5.2 and 60-persistent-input.rules
# from Fedora 9

# forward scsi device event to corresponding block device
ACTION=="change", SUBSYSTEM=="scsi", ENV{DEVTYPE}=="scsi_device", TEST=="block", ATTR{block/*/uevent}="change"

ACTION!="add", GOTO="by_label_fix_end"
SUBSYSTEM!="block", GOTO="by_label_fix_end"

# skip rules for inappropriate block devices
KERNEL=="ram*|loop*|fd*|nbd*|gnbd*|dm-*|md*", GOTO="by_label_fix_end"

# never access non-cdrom removable ide devices, the drivers are causing event loops on open()
KERNEL=="hd*[!0-9]", ATTR{removable}=="1", DRIVERS=="ide-cs|ide-floppy", GOTO="by_label_fix_end"
KERNEL=="hd*[0-9]", ATTRS{removable}=="1", GOTO="by_label_fix_end"

# /sys/class/block will export this
ENV{DEVTYPE}!="?*", ATTR{range}=="?*", ENV{DEVTYPE}="disk"
ENV{DEVTYPE}!="?*", ATTR{start}=="?*", ENV{DEVTYPE}="partition"

# for partitions import parent information
ENV{DEVTYPE}=="partition", IMPORT{parent}="ID_*"

# import id info (hardware serial number)
KERNEL=="hd*[!0-9]", IMPORT{program}="ata_id --export $tempnode"
KERNEL=="sd*[!0-9]|sr*", ATTRS{ieee1394_id}=="?*", ENV{ID_SERIAL}="$attr{ieee1394_id}", ENV{ID_BUS}="ieee1394"
KERNEL=="sd*[!0-9]|sr*", ENV{ID_SERIAL}!="?*", SUBSYSTEMS=="usb", IMPORT{program}="usb_id --export %p"
KERNEL=="sd*[!0-9]|sr*", ENV{ID_SERIAL}!="?*", IMPORT{program}="scsi_id --export --whitelisted -d $tempnode", ENV{ID_BUS}="scsi"
KERNEL=="cciss?c[0-9]d[0-9]", ENV{ID_SERIAL}!="?*", IMPORT{program}="scsi_id --export --whitelisted -d $tempnode", ENV{ID_BUS}="cciss"

# import physical path info (shortest physical path)
ENV{DEVTYPE}=="disk", IMPORT{program}="path_id %p"

# skip optical drives without media
ENV{DEVTYPE}=="disk", KERNEL=="sr*", ENV{ID_CDROM_MEDIA_TRACK_COUNT}!="?*", GOTO="by_label_fix_end"

# import filesystem metadata
IMPORT{program}="vol_id --export $tempnode"

# by-label-fix links (using filesystem metadata)
ENV{ID_FS_LABEL_SAFE}=="?*", IMPORT{program}="/usr/local/sbin/by_label_fix.sh $env{ID_FS_LABEL_SAFE}"
ENV{ID_FS_USAGE}=="filesystem|other", ENV{ID_FS_LABEL_ENC}=="?*", IMPORT{program}="/usr/local/sbin/by_label_fix.sh $env{ID_FS_LABEL_ENC}"
ENV{ID_FS_LABEL_SAFE}=="?*", SYMLINK+="disk/by-label/$env{ID_FS_LABEL_SAFE}"

LABEL="by_label_fix_end"
